Mule/mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <http:request-config name="ZabbixRequestConfig" host="monitoring.untsystem.edu" port="80" basePath="zabbix" doc:name="HTTP Request Configuration"/>
    <file:connector name="WriteFile" writeToDirectory="${app.home}/ajax" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="GetData">
        <poll doc:name="Copy_of_Poll">
            <fixed-frequency-scheduler frequency="30" timeUnit="SECONDS"/>
            <set-payload value="#[{     &quot;jsonrpc&quot;: &quot;2.0&quot;,     &quot;method&quot;: &quot;user.login&quot;,     &quot;params&quot;: {         &quot;user&quot;: &quot;username&quot;,         &quot;password&quot;: &quot;password&quot;     },     &quot;id&quot;: 1,     &quot;auth&quot;: null }]" mimeType="application/json" doc:name="Set Login Payload"/>
        </poll>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:request config-ref="ZabbixRequestConfig" path="api_jsonrpc.php" method="POST" doc:name="Copy_of_Send to Zabbix">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="Convert to Map"/>
        <set-variable variableName="authToken" value="#[payload.result]" doc:name="Variable"/>
        <set-payload value="#[{     &quot;jsonrpc&quot;: &quot;2.0&quot;,     &quot;method&quot;: &quot;service.get&quot;,     &quot;params&quot;: {         &quot;output&quot;: &quot;extend&quot;     },     &quot;auth&quot;:&quot;-1&quot;,     &quot;id&quot;: 1 }]" doc:name="Set Payload"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <expression-transformer expression="#[message.payload.auth=flowVars.authToken; message.payload]" doc:name="Expression"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:request config-ref="ZabbixRequestConfig" path="api_jsonrpc.php" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json-rpc"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <set-payload value="#[payload.result]" doc:name="Set Payload"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <file:outbound-endpoint path="${app.home}/ajax" outputPattern="ajax" connector-ref="WriteFile" responseTimeout="10000" doc:name="File"/>
        <logger message="Wrote new data to file" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="ServeData">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ajax" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/ajax" defaultFile="ajax" doc:name="HTTP Static Resource Handler"/>
    </flow>
    
</mule>
